main {
  height: 960px;
  width: 960px;
}


.create {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

.home {
  background-color: black;
  position: absolute;

}

/*header {

 font-family: 'Shadows Into Light', cursive;
 font-size: 100px;
 margin: 0 auto;
 display: inline;
 position: relative;

}*/

header {
  margin-left: 15px;
}

img.banner {
  height: 120px;
}

div.container {
  padding: 50px;
   margin-left: 90px;
   margin-top: -300px;
   width: 500px;
   height: 500px;
   top: 30%;
   left: 30%;
   position: relative;
}

img.record1 {
  position: absolute;
  height: 500px;
  width: 500px;
  z-index: 1;
}

#rock_link {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 250px;
  width: 250px;
  border: 0px;
  z-index: 2;
}

#pop_link {
  position: absolute;
  top: 50px;
  right: 50px;
  height: 250px;
  width: 250px;
  border: 0px;
  z-index: 2;
}

#rnb_link {
  position: absolute;
  top: 300px;
  left: 50px;
  height: 250px;
  width: 250px;
  border: 0px;
  z-index: 2;
}

#country_link {
  position: absolute;
  top: 300px;
  right: 50px;
  height: 250px;
  width: 250px;
  border: 0px;
  z-index: 2;
}

#rock_piece {
  /*position: absolute;
  top: 50px;
  left: 60px;*/
  display: block;
  height: 250px;
  width: 250px;
  border: 0px;
  opacity: 0;
}

#pop_piece {
  /*position: absolute;
  top: 0px;
  right: -10px;*/
  display: block;
  height: 250px;
  width: 250px;
  border: 0px;
  opacity: 0;
}

#rnb_piece {
  /*position: absolute;
  top: 250px;
  left: 60px;*/
  height: 250px;
  width: 250px;
  border: 0px;
  opacity: 0;
  display: block;
}

#country_piece {
  /*position: absolute;
  top: 250px;
  right: 40px;*/
  height: 250px;
  width: 250px;
  border: 0px;
  opacity: 0;
  display: block;
}

/*#rock_piece:hover {
  position: absolute;
  top: 50px;
  left: 60px;
  height: 300px;
  width: 300px;
  border: 0px;
}

#pop_piece:hover {
  position: absolute;
  top: 50px;
  right: 50px;
  height: 300px;
  width: 300px;
  border: 0px;
}

#rnb_piece:hover {
  position: absolute;
  top: 350px;
  left: 60px;
  height: 300px;
  width: 300px;
  border: 0px;
  opacity: 1;
}

#country_piece:hover {
  position: absolute;
  top: 350px;
  right: 50px;
  height: 300px;
  width: 300px;
  border: 0px;
  opacity: 1;
}*/

.player_info.country {
font-family: 'Dekko', cursive;
background-color: #DEB887;
}


.player_info.rock {
font-family: 'Permanent Marker', cursive;
background-color: #A1E68A;
}


.player_info.rnb {
font-family: 'Graffiti Treat';
background-color: #70CAD4;
}

.player_info.pop {
  background-color: #BF82E8;
font-family: 'Covered By Your Grace', cursive;
}

.country_lyrics {
font-family: 'Dekko', cursive;
background-image: url("greensplat.png");
}

.rock_lyrics {
font-family: 'Permanent Marker', cursive;
background-image: url("redsplat.png");
}


.rnb_lyrics {
font-style: 'Graffiti Treat';
background-image: url("bluesplat.png");
}

.pop_lyrics {
font-family: 'Covered By Your Grace', cursive;
background-image: url("purplesplat.png");
}

body.hall {
  background-color: black;
}

h2.hall {
  font-family: "Monoton";
  color: #F58916;
  font-size: 50px;
  text-align: center;
}

div.HoF {
  margin-left: 350px;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  background-size: 300px 500;
  height: 490px;
  text-align: center;
  background-image: url(assets/treblestaffsheet.png);
  background-color: white;
  overflow: hidden;
  -webkit-transition: width 4s, height 4s;
  transition: width 4s, height 4s;
  -webkit-transition-timing-function: ease;
}


div.HoF:hover {
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  background-image: url(assets/treblestaffsheet.png);
  background-color: white;
  background-size: cover;
  width: 100%;
  height: 1500px;
  overflow: hidden;
}

h1.country {
  font-family: 'Covered By Your Grace', cursive;
}

h2.country {
  font-family: 'Covered By Your Grace', cursive;
}

h3.country {
  font-family: 'Montserrat';
  color: #3449B7;
}

p.country {
  font-family: 'Montserrat', sans-serif;

}

h1.rock {
  font-family: 'Permanent Marker', cursive;
}

h2.rock {
  font-family: 'Permanent Marker', cursive;
}

h3.rock {
  font-family: 'Permanent Marker', cursive;
  color: #3449B7;
}

p.rock {
  font-family: 'Permanent Marker', cursive;
}

h1.pop {
  font-family: 'Dekko', cursive;
}

h2.pop {
  font-family: 'Dekko', cursive;
}

h3.pop {
  color: #3449B7;
}

p.pop {

}

h1.rap {
  font-family: "Graffiti Treat", Georgia;
  font-size: 50px;
}

h2.rap {
  font-family: Georgia; serif;
  font-size: 20px;
}

h3.rap {
  font-family: Georgia; serif;
  color: #3449B7;
}

p.rap {
  font-size: 16px;
  font-weight: bold;
  font-family: Georgia, sans-serif;
  opacity: 1;
}

span.libbed {
  font-size: 18px;
  font-weight: bold;
  color: #F25607;
}
