main {
  height: 960px;
  width: 960px;
}


.create {
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}

.home {
  background-color: black;
  position: absolute;

}


header {

 font-family: 'Shadows Into Light', cursive;
 font-size: 100px;
 margin: 0 auto;
 display: inline;
 position: relative;

}

div.container {
  padding: 50px;
   margin-left: -300 px;
   margin-top: -300px;
   width: 600px;
   height: 600px;
   top: 30%;
   left: 30%;
   position: relative;
}

img.record1 {
  position: absolute;
  height: 600px;
  width: 600px;
  z-index: 2;
}


img.record_hover {
    position: absolute;
    width: 600px;
    height: 600px;
    z-index: 1;
}

#rock_link {
  position: absolute;
  top: 50px;
  left: 50px;
  height: 300px;
  width: 300px;
  border: 0px;
  z-index: 3;
}

#pop_link {
  position: absolute;
  top: 50px;
  right: 50px;
  height: 300px;
  width: 300px;
  border: 0px;
  z-index: 3;
}

#rnb_link {
  position: absolute;
  top: 350px;
  left: 50px;
  height: 300px;
  width: 300px;
  border: 0px;
  z-index: 3;
}

#country_link {
  position: absolute;
  top: 350px;
  right: 50px;
  height: 300px;
  width: 300px;
  border: 0px;
  z-index: 3;
}


.dark-matter {
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
    background: #555;
    padding: 20px 30px 20px 30px;
    font: 12px "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #D3D3D3;
    text-shadow: 1px 1px 1px #444;
    border: none;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.dark-matter h1 {
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #444;
    margin: -10px -30px 30px -30px;
}
.dark-matter h1>span {
    display: block;
    font-size: 11px;
}
.dark-matter label {
    display: block;
    margin: 0px 0px 5px;
}
.dark-matter label>span {
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
    font-weight: bold;
}
.dark-matter input[type="text"], .dark-matter input[type="email"], .dark-matter textarea, .dark-matter select {
    border: none;
    color: #525252;
    height: 25px;
    line-height:15px;
    margin-bottom: 16px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 5px 0px 5px 5px;
    width: 70%;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    background: #DFDFDF;
}
.dark-matter select {
    background: #DFDFDF url('down-arrow.png') no-repeat right;
    appearance:none;
    -webkit-appearance:none;
    -moz-appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    width: 70%;
    height: 35px;
    color: #525252;
    line-height: 25px;
}
.dark-matter textarea{
    height:100px;
    padding: 5px 0px 0px 5px;
    width: 70%;
}

button {
    background: #FFCC02;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #585858;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    text-shadow: 1px 1px 1px #FFE477;
    font-weight: bold;
    box-shadow: 1px 1px 1px #3D3D3D;
    -webkit-box-shadow:1px 1px 1px #3D3D3D;
    -moz-box-shadow:1px 1px 1px #3D3D3D;
}

dark-matter.button:hover {
    color: #333;
    background-color: #EBEBEB;
}

#player_info_country {
font-family: 'Dekko', cursive;
background-color: #DEB887;
}

#player_info_rock {
  position: relative;
font-family: 'Permanent Marker', cursive;
background-color: #A1E68A;
}


#player_info_rnb {
font-family: 'Graffiti Treat';
background-color: #70CAD4;

}

#player_info_pop {
  background-color: #BF82E8;
font-family: 'Covered By Your Grace', cursive;
}

splatter.country_lyrics {
font-family: 'Dekko', cursive;
width  : 740px;
height : 498px;
margin : 0 auto;


background: #FFF url("../treblestaffsheet.png");

}

splatter.rock_lyrics {
font-family: 'Permanent Marker', cursive;
background-image: url("../redsplat.png");
width  : 740px;
height : 498px;
margin : 0 auto;

background: #FFF url("../treblestaffsheet.png");

}


#rnb_lyrics {
font-style: 'Graffiti Treat';
background-image: url("../bluesplat.png");
width  : 740px;
height : 498px;
margin : 0 auto;

background: #FFF url("../treblestaffsheet.png");

}

#pop_lyrics {
font-family: 'Covered By Your Grace', cursive;
background-image: url("../purple.png");
width  : 740px;
height : 498px;
margin : 0 auto;

background: #FFF url("../treblestaffsheet.png");

}

body.hall {
  background-color: black;
}

h1.logo {
  font-family: "Sigmar One";
  color: #00cbcb;
}

h2.hall {
  font-family: "Monoton";
  color: #F58916;
  font-size: 50px;
  text-align: center;
}

div.HoF {
  margin-left: 350px;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 15px;
  background-size: 300px 500;
  height: 490px;
  text-align: center;
  background-image: url(assets/treblestaffsheet.png);
  background-color: white;
  overflow: hidden;
  -webkit-transition: width 4s, height 4s;
  transition: width 4s, height 4s;
  -webkit-transition-timing-function: ease;
}


div.HoF:hover {
  margin: 0 auto;
  margin-top: 30px;
  text-align: center;
  background-image: url(assets/treblestaffsheet.png);
  background-color: white;
  background-size: cover;
  width: 100%;
  height: 1500px;
  overflow: hidden;
}

h1.country {
  font-family: 'Covered By Your Grace', cursive;
}

h2.country {
  font-family: 'Covered By Your Grace', cursive;
}

h3.country {
  font-family: 'Montserrat';
  color: #3449B7;
}

p.country {
  font-family: 'Montserrat', sans-serif;

}

h1.rock {
  font-family: 'Permanent Marker', cursive;
}

h2.rock {
  font-family: 'Permanent Marker', cursive;
}

h3.rock {
  font-family: 'Permanent Marker', cursive;
  color: #3449B7;
}

p.rock {
  font-family: 'Permanent Marker', cursive;
}

h1.pop {
  font-family: 'Dekko', cursive;
}

h2.pop {
  font-family: 'Dekko', cursive;
}

h3.pop {
  color: #3449B7;
}

p.pop {

}

h1.rap {
  font-family: "Graffiti Treat", Georgia;
  font-size: 50px;
}

h2.rap {
  font-family: Georgia; serif;
  font-size: 20px;
}

h3.rap {
  font-family: Georgie; serif;
  color: #3449B7;
}

p.rap {
  font-size: 16px;
  font-weight: bold;
  font-family: sans-serif;
  opacity: 1;
}

span.libbed {
  font-size: 18px;
  font-weight: bold;
  color: #F25607;
}
