main {
  height: 960px;
  width: 960px;
}


.home {
  background-image: url("./assets/rredsplatbooyeah.png");
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
}



header {

 font-family: 'Shadows Into Light', cursive;
  font-size: 100px;
 margin: 0 auto;
 display: inline;
 position: relative;

}


.circle1: hover{


  clip: 25%, top;

	overflow: hidden;
	position: relative;
	cursor: default;
  transform-style: scale(1);

}

.circle2: hover{

  clip: 25%, bottom;
	position: relative;
	cursor: default;
  transform-style: scale(1);

}




.container {
   margin: 0 auto;
    width: 500px;
    height: 500px;
    border: 1px solid black;
}


.square {
    margin: 0 auto;
    width: 150px;
    height: 150px;
    border: 1px solid black;
    display: inline;
    }

.square2 {
   margin: 0 auto;
  width: 150px;
    height: 150px;
   border: 1px solid black;
   display: inline;
}



.Container2 {
  margin: 0 auto;
  height: 600px;
  width: 600px;
  z-index: 1;
}


.img {

  width: 600px;
    height: 600px;
    margin-top: -50%;
   margin-left: -50%;
}



.player_info.country {
font-family: 'Dekko', cursive;
background-color: #DEB887;
}


.player_info.rock {
font-family: 'Permanent Marker', cursive;
background-color: #A1E68A;
}


.player_info.rnb {
font-family: graffiti
background-color: #70CAD4;
}

.player_info.pop {
  background-color: #BF82E8;
font-family: 'Covered By Your Grace', cursive;
}

.country_lyrics {
font-family: 'Dekko', cursive;
background-image: url("greensplat.png");
}

.rock_lyrics {
font-family: 'Permanent Marker', cursive;
background-image: url("redsplat.png");
}


.rnb_lyrics {
font-style: 'Graffiti Treat';
background-image: url("bluesplat.png");
}

.pop_lyrics {
font-family: 'Covered By Your Grace', cursive;
background-image: url("purplesplat.png");
}



/** <link href="https://fonts.googleapis.com/css?family=|Dekko|Covered+By+Your+Grace|Shadows+Into+Light/Permanent+Marker|" rel="stylesheet">
